body{
	margin: 0;
}
.header{
	background-color: rgba(127, 107, 245, 1);
	height: 15vh;
}
.block{
	background-color: rgba(20, 253, 29, 1);
	height: 83vh;
	width: 873px;
	border: 4px solid red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 277px;
    border: 1px solid #555;
     height: 83vh;
     float: right;
     border: 4px solid rgba(12, 252, 237, 1);
}

li a {
    display: block;
    text-align: center;
    border-bottom: 1px solid #555;
    height: 21vh;
}
li:last-child {
    border-bottom: none;
}
.content{
	width: 1170px;
	border: 5px solid blue;
	margin: auto;
}