
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{ width: 100%;font-size: 100%;line-height: 1;font-size: 14px;
-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;} input::-ms-clear{display: none;}
button{cursor: pointer;} button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;} a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*********************/
body{
    background: linear-gradient(151.93deg, #E793EF 0%, #B6A2E4 49.05%, #45DDD1 100%) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 53px;
    color: #393939;
}
a{
    color: #393939;
}
.content{
    width: 1170px;
    margin: auto;
}
.header{
    height: 15vh;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #403F41;
}
.header img{
    height: 90%;
    margin-left: 107px;
}
.header h1{
    margin-left: 15px;
    margin-right: 10px;
}
.header .login{
    margin-left: 200px;
    display: flex;
    align-items: center;
    text-align: center;
}
.login a{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background: rgba(217, 217, 217, 0.4);
    mix-blend-mode: normal;
    backdrop-filter: blur(4px);
    padding: 11px;
    border-radius: 15px;
}
.login a:nth-child(1){
    margin-right: 20px;
    margin-left: 70px;
}
.login a:hover{
    background: rgba(217, 217, 217, 0.8);
    Transform: scale(0.95, 0.95);
}
/* Навигационное меню */
nav{
    width: 277px;
    height: 85vh;
    float: left;
    list-style-type: none;
    mix-blend-mode: normal;
    position: fixed; 
    margin-top: 20px;
}
nav .search{
    width: 276px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.8) url(Source/img/search.png) left no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 5%;
    margin: 10% 0 25% 0;
    padding: 5px 10px 5px 30px;
}
nav ul li{
    background: rgba(217, 217, 217, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 15% auto;
}
nav ul li a {
    display: block;
    text-align: center;
    height: 9%;
    text-align: center;
}
li:hover {
    Transform: scale(0.95, 0.95);
    background: rgba(217, 217, 217, 0.8);
}
.block-content:hover{
    Transform: scale(1.05, 1.05);
}
.block-no-hover:hover{
    Transform: scale(1, 1);
}

li:first-child {
    margin-top: 0;
}
li:last-child {
    margin-bottom: 0;
}
/*контент*/
.block{
    position: relative;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.52) 0%, rgba(255, 255, 255, 0.1612) 88.33%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(4px);
    border-radius: 15px;;
	height: 85vh;
	width: 873px;
    float: right;
    margin: 0 0 20px 0;
}
.block-feedback{
    height: 100vh;
}
.block-header{
    text-align: center;
    width: 672px;
    border-bottom: 3px solid #393939;
    padding: 3% 0 3% 0;
    margin: auto;
    height: 15%;
}
.block-header h2{
    margin-bottom: 3%;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.15em;
}
.block-content{
    height: 39%;
    margin-top: 10px;
}
.block-content-header{
    padding: 10px 20px;
    font-size: 25px;
    text-transform: lowercase;
}
.block-content-header:first-letter{
    text-transform: uppercase;
}
.block-content-header:hover a{
    color: #595959
}
.block-content-description{
    width: 829px;
    height: 60%;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    border-radius: 15px 15px 0px 0px;
}
.block-content-description-feedback{
    width: 829px;
    height: 30%;
    margin: auto;
    font-size: 20px;
    line-height: 26px;
    padding: 5px;
}
.block-content-description-feedback a{
    color: green;
}
.block-content-description p {
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 5px;
}
.block-content-author{
    border-radius: 0 0 15px 15px;
    width: 829px;
    height: 10%;
    background: rgba(0, 0, 0, 0.4);
    margin: auto;
    backdrop-filter: blur(4px);
    border-top: 1px solid #525050;
}
.block-content-author p{
    font-size: 24px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 9px;
}
/*Футер*/
footer{
    float: right;
}
.footer{
    margin: 100px 0;
    width: 873px;
    height: 15vh;
    display: flex;
    align-items: center;
}
.link a{
    display: inline-block;
    position: relative;
    align-items: center;
}
.link a::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.link a:hover::after { 
  width: 100%; 
  left: 0; 
}

/*------*/
.block_full{
    height: 235vh;
}

.block-header_full{
    height: 5.45%;
}

.block-content_full{
    height: 14.05%;
}

.table{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 0.5fr);
    font-size: 25px;
    margin: 20px 50px;
}
.table p{
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
.block-footer{
    width: 829px;
    font-size: 20px;
    margin: auto;
    padding: 5px;
}
.block-footer p a{
    font-size: 22px;
    color: green;
}